@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Corinthia', cursive;
}
body
{
    overflow: hidden;
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1bb3d5;
}
section .circle
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section h2
{
    position: absolute;
    font-size: 4em;
    color: #000000;
    text-align: center;
}
section i
{
    position: absolute;
    background: #000000;
    border-radius: 100%;
    animation: animate linear infinite;
}
section i:nth-child(even)
{
    background: transparent;
    border: 1px solid #000000;
}
@keyframes animate
{
    0%
    {
        transform: translateY(0);
        opacity: 0;
    }
    10%
    {
        opacity: 1;
    }
    90%
    {
        opacity: 1;
    }
    100%
    {
        transform: translateY(-2000%);
        opacity: 0;
    } 
}